#code {
    color: palevioletred;
    font-weight: bolder;
}

.round {
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:palevioletred
}

/*home*/
a:link {
    color: crimson; 
}

h2 {
    color: slateblue;
}

p {
    border-width: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 20px;
   border-style: hidden;
  }
